yfinance
tensorflow
keras>=
scikit-learn
PyQt5
keras-tuner
openpyxl
pandas
numpy
matplotlib
pytest
seaborn
gym
pyglet
scipy
statsmodels
plotly
tabulate
ta
pandas-datareader
ccxt
joblib
torch
optuna
tensorboard
